body{
    background-color: rgb(138, 138, 75);gin in
}
.main{
    font-style: italic;
    font-size: 17px;
    margin-left: 240px;
    margin-top: -390px;
}
.centre{
    font-style: italic;
    font-size: 17px;
    margin-left: 440px;
    margin-top: -150px;
}
.left{
    font-style: italic;
    font-size: 17px;
    margin-left: 640px;
    margin-top: -380px;
}
.po{
    font-style: italic;
    font-size: 17px;
    margin-left: 820px;
    margin-top: -380px;
}
.cale{
    font-style: italic;
    font-size: 17px;
    margin-left: 1000px;
    margin-top: -380px;
}
.pic{
    width: 200px;
    position: absolute;
    top:80px ;
    left:1130px ;
    border-radius: 15px 15px 15px 15px;


}
.brown{
    position: absolute;
    top:180px ;
    left:1130px ;
}